.input-group {
    display: flex;
    justify-content: center;
    gap: 3px;
    margin:  0;
  }
  
  .input-group input {
    width: 100px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    background-color: #e5e7eb;
    border-radius: 10px;
  }
  
  .input-group span {
    line-height: 30px;
  }